img{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    border-radius: 50%;
}

fieldset{
    display: flex;
    flex-direction: column;
}

.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
