<app-header></app-header>

<main *ngIf="userRetrieved" class= "main-content centered">
    <h1>Mi perfil</h1>
    <img id="profilePic" src="assets/img/user_default_icon.png"/>
    <button id="setProfilePicButton" class="normal-button"><i class="bi bi-camera-fill"></i>Elegir foto</button>
    <form class= "register-form" #userInfo="ngForm" (ngSubmit)="onSubmit(userInfo)">
        <div class="register-form-field">
        <fieldset>
            <label for="userFullName">Nombre completo</label>
            <input id="userFullName"type="text" [(ngModel)]="user.name" name="userFullName" 
            required value="{{user.name}}"/>
        </fieldset>

        <!--Neither id nor email may be modified, per requirements-->
        <fieldset>
            <label for="email">Correo electrónico</label>
            <input id="name"type="text" [(ngModel)]="user.email" name="userEmail" 
            disabled required placeholder="{{user.email}}"/>
        </fieldset>
        </div>

        <div class="register-form-field">
        <fieldset>
            <label for="userId">Identificación</label>
            <input id="userId" type="number" [(ngModel)]="user.id" name="userId" 
            disabled required placeholder="{{user.id}}"/>
        </fieldset>

        <fieldset>
            <label for="age">Edad</label>
            <input id="age"type="number" [(ngModel)]="user.age" name="age" 
            required placeholder="{{user.age}}"/>
        </fieldset>
        </div>
        
        <fieldset>
            <label for="location">Ubicación</label>
            <input id="location"type="text" [(ngModel)]="user.location" name="userLocation" 
            required placeholder="{{user.location}}"/>
        </fieldset>

        <button class="confirm-button" id="saveButton" type="submit">Guardar cambios</button>
    </form>

</main>
