main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 6vw;
}


fieldset{
    border: none;
}

input{
    width: 100%;
}

ul{
  padding-left: 0;
  list-style: none;
  display: flex; 
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

