<app-header></app-header>
<main class="main-content">
    <h1>Mi carrito de compras</h1>

    <ul>        <!-- The keyvalue keyword transforms the map to an array of <key, value> that can be iterated on-->
        <li *ngFor="let shoppingCartItem of shoppingCart | keyvalue">
            <img src = "{{products[shoppingCartItem.value.productId -1].thumbnail}}"/>
            <p>{{products[shoppingCartItem.value.productId -1].title}}</p>
            <input [(ngModel)]="shoppingCartItem.value.quantity" max="10" min="1" type="number" value="{{shoppingCartItem.value.quantity}}"/>
            <p>{{shoppingCartItem.value.unitPrice * shoppingCartItem.value.quantity}}</p>
            <button (click)="removeItem(shoppingCartItem.value.productId)">Quitar del carrito</button>
        </li>
    </ul>

    <button id= "confirmPurchaseButton">Confirmar mi compra</button>
    <button id= "emptyCartButton">Vaciar carrito</button>
</main>
