table{
    border-spacing: 1vw;
}

img{
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    object-fit: cover;
}

input{
    width: 25%;
}

.delete-button{
    width: 8vw;
    height: 6vh;
}