<main class="centered">
    <h1>Registro</h1>

    <form class="register-form" #newUserForm="ngForm" (ngSubmit)="onSubmit(newUserForm)">
        
            <div class="register-form-field">
                <fieldset>
                    <label for="name"></label>
                    <!--ngModel is an Angular directive that allows you to send 
                        in real time updates to a value defined in the ts file-->
                    <input id="userName"type="text" [(ngModel)]="user.name" name="name" 
                    required placeholder="Nombre Completo"/>
                    
                </fieldset>

                <fieldset>
                    <label for="userId"></label>
                    <input id="userId" type="number" [(ngModel)]="user.id" name="id" 
                    required placeholder="Número de identificación"/>
                </fieldset>
            </div>
            <div class="register-form-field">
            <fieldset>
                <label for="email"></label>
                <input id="email" type="email" [(ngModel)]="user.email" name="email" 
                required placeholder="Correo electrónico"/>
            </fieldset>

            <fieldset>
                <label for="age"></label>
                <input id="age" type="number" [(ngModel)]="user.age" name="age" 
                required placeholder = "Edad"/>
            </fieldset>
            </div>
            <fieldset>
                <label for="province"></label>
                <input id="province" type="text" [(ngModel)]="user.location" name="province" 
                required placeholder="Provincia"/>
                
            </fieldset>
            <button class="confirm-button" id="submitButton" type="submit">Registrarme</button>
        
    
    </form>
    
    <button [routerLink]="['']"class="cancel-button">Atrás</button>
      
</main>
