<main class="main-content centered">
    <h1>Olvido de contraseña</h1>
    
    <div class="main-content centered">
        <fieldset class="centered">
            <label for="email">Introduzca el correo electrónico de su cuenta</label>
            <input [(ngModel)]="enteredEmail" id= "email" type="email"/>
        </fieldset>
        <button class="confirm-button" id="reset">Restaurar contraseña</button>
    </div>

    <button class="cancel-button" [routerLink]="['/']"> Atrás </button>
</main>
