<header id="header">
    <ul>
        <li>
            <i class="bi bi-person-circle"></i>
            <a [routerLink]="['/profile']">Mi Perfil</a>
        </li>
        
        <li >
            <i class="bi bi-cart"></i>
            <a [routerLink]="['/checkout']">Ir al carrito</a>
        </li>
    
        <li>
            <i class="bi bi-receipt"></i>
            <a [routerLink]="['/history']">Mis compras pasadas</a>
        </li>

        <li>
            <i class="bi bi-shop"></i>
            <a [routerLink]="['/home']">Tienda</a>
        </li>
    </ul>
</header>
