#logout{
  align-self: flex-end;   
}

#header{
    position: fixed;
    width: 110%;
    background-color: blue;
    left: -1vw;
    top: -0.3vw;
}

a{
    color: white;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    column-gap: 3vw;
}


