
<main  id = "main_content">
  <h1 class = "title"> Arce Shopping</h1>

  <div id="login">
    <fieldset>
      <label for="email_field"> Correo electrónico</label>
      <input type="text" id ="email_field">
    </fieldset>

    <fieldset>
      <label for="password_field"> Contraseña</label>
      <input type="password" id ="password_field">
    </fieldset>
  </div>

  <button> Iniciar Sesión </button>
  
    <ul id= "register">
      <li>  
        <p>No tienes cuenta?</p>
      </li>
      <li>
        <a href="">Registrate</a>
      </li>
    </ul>
    
    <ul id= "forgot_password">
      <li>
        <p>Olvidaste tu contraseña?</p>
      </li>
      <li>
        <a href="">Crea una nueva</a>
      </li>
    </ul>
 
</main>

